<!-- @format -->
<%- include("../partials/header.ejs") -%> <%- include("../partials/navbar.ejs")
-%>
<div class="container">
	<div class="row mt-4">
		<div class="col-md-9 offset-md-3">
			<h1
				class="display-4"
				style="margin-left: -150px; margin-right: 150px">
				Profile
			</h1>
			<%- include("../partials/flash.ejs") -%>

			<hr style="margin-left: -150px; margin-right: 150px" />
		</div>
	</div>
</div>

<%- include("../partials/footer.ejs") -%>
